<div>
  <h1>Contests</h1>
</div>

<div *ngIf="userRole != 'student'" class="container margin-bot">
    <div class="row">
      <button class="btn btn-primary create" 
              type="button" 
              data-target="#createConcursoModal"
              data-toggle="modal">
        Create Contest
      </button>
    </div>  
  </div>
  
<!-- Display contests list -->
<div class="container">
  <div *ngFor="let contest of contests; let i = index">
      <div class="jumbotron">
          <div class="input-group">
            <h3 class="display-4">{{ contest.name }}</h3>
            <span class="input-group-btn">
              <button type="button" class="btn btn-success" (click)="moveToContest(contest)">
                Enter
              </button>
            </span>
          </div>
          <hr class="my-4">
          <div class="row">
            <p><b>Starts at:</b> {{ contest.start_date }}</p>
            <p><b>Ends at:</b> {{ contest.end_date }}</p>
            <button *ngIf="userRole != 'student'" 
                    type="button" 
                    class="btn btn-warning" 
                    data-toggle="modal" 
                    data-target="#editContestModal"
                    (click)="saveContestForEdit(contest)">
              Edit
            </button>
            <button *ngIf="userRole != 'student'" type="button" 
                    class="btn btn-danger"
                    (click)="removeContest(contest, i)">
              Remove
            </button>
          </div>
      </div>
  </div>
</div>

<!-- Create a contest -->
<div *ngIf="userRole != 'student' && createContestForm != undefined" class="modal fade" id="createConcursoModal" tabindex="-1" role="dialog" aria-labelledby="createContestModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createContestModal">Create Contest</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="createContestForm"> 
              <div>
                <label for="titleB" class="form-control-label">Title:</label>
                <input formControlName="contestTitle" type="text" class="form-control validate" id="titleB">
              </div>
              <div>
                <label for="contestGroup" class="form-control-label">Group:</label>
                <select formControlName="contestGroup" id="contestGroup" class="form-control validate" name="contestGroup">
                  <option *ngFor="let group of groups" [ngValue]="group">
                    {{ 'Group ' + group.id + ' ' + group.course.name  + ' ' + group.period }}
                  </option>
                </select>
              </div>
              <div>
                <label for="beginDateCreate" class="form-control-label">Begin Date:</label>
                <input formControlName="beginDateCreate" type="date" class="form-control validate" id="beginDateCreate">               
              </div>
              <div>
                <label for="endDateCreate" class="form-control-label">End Date:</label>
                <input formControlName="endDateCreate" type="date" class="form-control validate" id="endDateCreate">               
              </div>
              <div>
                <label for="beginTimeCreate" class="form-control-label">Begin Time:</label>
                <input formControlName="beginTimeCreate" type="time" class="form-control validate" id="beginTimeCreate">               
              </div>
              <div>
                <label for="endTimeCreate" class="form-control-label">End Time:</label>
                <input formControlName="endTimeCreate" type="time" class="form-control validate" id="endTimeCreate">               
              </div>
              <div>
                <div class="container-fluid">
                  <div formArrayName="problemsCreate" 
                        *ngFor="let p of createContestForm.get('problemsCreate').controls; let i = index" 
                        class="row">
                    <label>Problem {{ i+1 }}:</label>
                    <select formControlName="{{i}}" (change)="modifyIndex('create',i,$event)" class="form-control validate">
                      <option *ngFor="let problem of listProblems; let j = index;" [ngValue]="problem">
                          {{problem.name}}
                      </option>
                    </select>
                    <button type="button" class="btn btn-warning" (click)="removeProblemFromArray('create',i)">Remove Problem</button>
                  </div>
                </div>
                <button *ngIf="canAddProblem" type="button" class="btn btn-primary" (click)="addProblemToArray('create')">Add Problem</button>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" #closeCreate class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" (click)="createContest()" [disabled]="!createContestForm.valid">
            Create
          </button> 
        </div>
      </div>
    </div>
  </div>

<!-- Edit a contest -->
<div *ngIf="userRole != 'student' && editContestForm != undefined" class="modal fade" id="editContestModal" tabindex="-1" role="dialog" aria-labelledby="editCModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCModal">Edit Contest</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="editContestForm">
            <div>
              <label for="contestTitleEdit" class="form-control-label">Title:</label>
              <input formControlName="contestTitleEdit" type="text" class="form-control validate" id="contestTitleEdit">
            </div>
            <!-- <div>
              <label for="contestGroupEdit" class="form-control-label">Group:</label>
              <input formControlName="contestGroupEdit" 
                      id="contestGroupEdit" class="form-control validate" 
                      name="contestGroupEdit"
                      [value]="GroupSelected.value">
            </div> -->
            <div>
              <label for="contestGroupEdit" class="form-control-label">Group:</label>
              <select formControlName="contestGroupEdit" id="contestGroupEdit" class="form-control validate" name="contestGroupEdit">
                <option *ngFor="let group of groups" [ngValue]="group">
                  {{ 'Group ' + group.id + ' ' + group.course.name  + ' ' + group.period }}
                </option>
              </select>
            </div>
           <div>
              <label for="beginDateEdit" class="form-control-label">Begin Date:</label>
              <input formControlName="beginDateEdit" type="date" class="form-control validate" id="beginDateEdit"> 
            </div>
            <div>
              <label for="endDateEdit" class="form-control-label">End Date:</label>
              <input formControlName="endDateEdit" type="date" class="form-control validate" id="endDateEdit">
            </div>
            <div>
              <label for="beginTimeEdit" class="form-control-label">Begin Time:</label>
              <input formControlName="beginTimeEdit" type="time" class="form-control validate" id="beginTimeEdit">               
            </div>
            <div>
              <label for="endTimeEdit" class="form-control-label">End Time:</label>
              <input formControlName="endTimeEdit" type="time" class="form-control validate" id="endTimeEdit">               
            </div>
            <div>
              <div class="container-fluid">
                <div formArrayName="problemsEdit" 
                      *ngFor="let p of editContestForm.get('problemsEdit').controls; let i = index" 
                      class="row">
                  <label>Problem {{ i+1 }}:</label>
                  <select formControlName="{{i}}" (change)="modifyIndex('edit',i,$event)" class="form-control validate">
                    <option *ngFor="let problem of listProblems; let j = index;" [ngValue]="problem">
                        {{problem.name}}
                    </option>
                  </select>
                  <button type="button" class="btn btn-warning" (click)="removeProblemFromArray('edit', i)">Remove Problem</button>
                </div>
              </div>
              <button *ngIf="canAddProblem" type="button" class="btn btn-primary" (click)="addProblemToArray('edit')">Add Problem</button>
            </div>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" #closeEdit class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-success" (click)="editContest()" [disabled]="!editContestForm.valid">
          Save
        </button> 
      </div>
    </div>
  </div>
</div>

